*{
    padding: 0px;
    margin: 0px;
}
/* tanda bintang artinya selector universal  */

p {
    background-color: aqua;
    width: 200px;
    height: 200px;
    /* padding: 20px; */
    padding:20px 10px;
    margin: auto;
    text-align: center;
}
/* angka pertama pading up & bottom lalu angka ke 2 adlh padding kanan kiri  */
/* pading adlaha jarak kotak kedalam isi */

/* margin utnuk mngatur jarak kotak keluar  */
.p2 {
    margin-left: 50px;
}

.p3 {
    margin: auto;
}
/* margin rata tengah  */

.container {
    background-color: blueviolet;
    width: 250px;
    height: 800px;
    margin: auto;
}